

*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header{
    padding: 1rem;
    margin: auto;
}

.logo-cpifp{
    width: 300px;
    height: 110px;
}

main{
    padding: 2rem;
}

form{
    color: firebrick;
    width: 400px;

}

legend{
   color: darkblue;
   font-weight: bold; 
}

fieldset{
    background-color: #F4F1ED;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
}

.elemeto-formulario{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px; 
}


.elemeto-formulario input{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.elemeto-formulario.botones{
    
    display: flex;
    justify-content: center;
    
} 

.elemeto-formulario.botones{
    margin-top: 40px;
}

footer{
    text-align: center;
    background-color: #333;
    color: white;
    
}

footer h3{
    color: #f7c600;
}

footer a img{
    height: 48px;
    width: 48px;
}