
body{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header{
    padding: 1rem;
    
}

.logo-cpifp{
    width: 300px;
    height: 110px;
}

main{

}

form{
    background-color: #F4F1ED;
    color: firebrick;
    width: 400px;
}

legend{
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
}

.elemento-formulario{

}

.elemento-formulario.imagen-formulario{

}

footer{

}

footer a{

}

footer a img{

}