
*{box-sizing: border-box;}

html, body{
    height: 100%;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    margin:0;
    min-height: 100vh;
}

main{
    padding: 0 2rem 2rem 2rem;
    flex-grow: 1;
}

header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

footer{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    
}
.cabecera-imagen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

header img{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.contenedor h1{
    text-align: center;
}

.contenedor-tarjetas-producto{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr) ;
    gap: 20px;
}

.tarjeta{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
    text-align: center;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img{
    max-width: 75%;
    border-radius: 10px;
}

.tarjeta h3{
    color: #333;
}

.precio{
    font-size: 1.25rem;
    color: #E74C3C;
}




