/* Reset y base */
/* box-sizing: Para que tenga en cuenta el padding y margin en el tamño total */
* {
    box-sizing: border-box;
}

/* Establecemos altura completa de página */
html, body {
    height: 100%;
}

/* Configuración general del body.
El body se convierte en contenedor flex
-flex-direction; colum -> apila verticalmente el header 
 */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #d2effd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


/* Centramos y rellenamos la cabrcera */
/* CABECERA con FLEX: dos zonas -> logo/titulo (brand) y el menu (nav) */
.cabecera {
    /* text-align: center; */
    padding: 1rem;  
    display: flex;
    color:#c2c2c2;
    background-color: #232a3d;
    justify-content: space-between;
    align-items: center;

}

/* Tamaño de la imagen */
.logo {
    height: 100px;
    width: auto;
}

/* Titulo de la cabecera sin margenes extra y color destacado */
/* .titulo {
    margin: 0;
    color: #000930;
} */

/* Menu en horizontal */
.menu {
    list-style: none;
    display: flex;                  /*Para colocar items en linea*/
    flex-direction: row;            /*Es row ya por defecto*/
    gap: 3rem;                      /*Espacio entre los enlaces*/
}


/* Estilo enlaces */
.menu a {
    color: whitesmoke;
    text-decoration: none;          /*Elimina subrayado*/
    font-weight: bold;              /*Negrita*/
    padding: 20px
}

/* Efecto hover en enlaces*/
.menu a:hover {
    background-color: whitesmoke;
    color: #232a3d;
}


/* main */
#contenido-principal{
    padding: 1rem;
    flex-grow: 1; /*Importante para emujar el footer hacia abajo*/
    display: flex;
    flex-direction: column;
    gap: 1rm
}
/* Clase tarjeta, usado para agrupar secciones visualmente */
.tarjeta {
    background: #ffffff;
    width: min(1200px, 95%);
    margin: 1rem auto;
    border-radius: 10px;
    padding: 1.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
}

/* listas en dos columnas, usamos flexbox para alinear dos elementos en horizontal  */
.listas {
    display: flex;          /* Contenedor flexible*/
    flex-direction: row;
    gap: 2rem;              /* Hueco entre columnas*/
    flex-wrap: wrap;        /* Saltar siguiente linea en pantallas pequeñas*/
    /* flex-flow: ; */
}

/* Ajustes visuales de las listas*/
.lista {
    padding-left: 20px;
}

.lista li {
    margin: 0.25rem; /*Espacio vertical entre elementos de lista*/
}

/* Estilo de tabla */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: center;
}

/* Bordes y relleno de la tabla */
.tabla th, .tabla td{
    border: 1px solid #c2c2c2;
    padding: 10px;
}

/* Csbecera de la tabla con estilo diferenciado */
.tabla th {
    background-color: #000930;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

/* Contenido de tabla alineado a la izquierda */
.tabla td {
    text-align: left;
    white-space: nowrap; /* Evita saltos de linea en las celdas*/
}

/* Estilo pie de página */
.pie {
    color: #cefff7;
    background: #232a3d;
    text-align: center;
    padding: 1rem;
}

/* FORMULARIOS */

form{
    display: flex;
    flex-direction: column;
}

fieldset {
    background-color: #002df536;
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1.5rem ;
}

legend{
    background-color: #232a3d;
    color: whitesmoke;
    border-radius: 0.5rem;
    padding: 0.4rem 2rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.192) 0.5px 5px;
}

/* REGISTRO */

.formulario-registro fieldset{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.formulario-registro label{
    font-weight: bold;
}

.formulario-registro input{
    max-width: 80%;
}

.formulario-registro button{

}

/* CONTACTO */



/* TIENDA */

/* solo aplica a elementos con clase tienda y tarjeta a la vez */
.tienda.tarjeta{
    width: min(1600px, 95%);  /*aplica el valor más pequeño de esos dos*/
}

.lista-cards-flex{
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: center; /*centrar horizontalmente*/
}

/* card individual */
.card{
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.192);
    background-color: #fff;
    text-align: center;
    padding: 12px;
}

/* imagen card */
.card-image{
    width: 100%;
    height:180px ;
    object-fit: contain; /*asegura que se vea completa y proporcionada*/
    background-color: #d2effd;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* textos card */

.card-titulo{
    font-size: 1.1rem;
    color: #333;
    margin: 8px 0 4px;
}

.card-description{
    font-size: 0.9rem;
    color: #333;
}

.card-precio{
    color: rgb(131, 15, 15);
    font-weight: bold;
    margin: 8px 0;
}

/* botón card */

.card-boton{
    background-color: #232a3d;
    color: #c2c2c2;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none; /*quita subreyado del enlace*/
    display: inline-block; 
}

/* GRID */

.grid-container{
    display: grid;   /*Activa modo grid*/
    grid-template-columns: 200px 200px 200px; /*Tamaño de columna*/
    grid-template-rows: 100px 100px;
    gap: 20px;
    justify-content: center; /*centra la cuadricula en el section*/
    background: #333;

}

.grid-container :nth-child(1){ background-color:blue ;}
.grid-container :nth-child(2){ background-color: green;}
.grid-container :nth-child(3){ background-color: yellow;}
.grid-container :nth-child(4){ background-color: burlywood;}
.grid-container :nth-child(5){ background-color: chocolate;}
.grid-container :nth-child(6){ background-color: greenyellow;}