


table{
    border: 3px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: black;
    color: aliceblue;
    text-transform: uppercase;
}

td {
    text-align: center;
    color: rgb(70, 70, 70);
    font-size: 18px;
    border-bottom: 3px solid black ;
}